<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CrearShortDesdeVideo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

    <userSettings>
        <CrearShortDesdeVideo.My.MySettings>
            <setting name="FfmpegPath" serializeAs="String">
                <value>C:\Program Files\ffmpeg\bin\ffmpeg.exe</value>
            </setting>
            <setting name="DuracionPredeterminada" serializeAs="String">
                <value>00:02:59</value>
            </setting>
            <setting name="FiltroVideo" serializeAs="String">
                <value>Vídeos|*.mp4;*.avi;*.mkv;*.mov;*.wmv;*.flv;*.webm;*.mpeg;*.mpg;*.m4v;*.3gp;*.ts;*.m2ts;*.vob;*.divx;*.ogv;*.asf;*.rm;*.rmvb;*.dat;*.nsv;*.f4v;*.mxf;*.mts;*.m2v;*.svi;*.tp;*.m2t;*.iso;*.m2p;*.mpv2;*.vob;*.vro;*.nsv;*.nuv;*.gxf;*.ps;*.rec;*.tts;*.m2ts;*.m2t;*.m2p;*.m2v;*.m2p;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t;*.m2ts;*.m2v;*.m2t</value>
            </setting>
            <setting name="DirectorioVideos" serializeAs="String">
                <value />
            </setting>
            <setting name="Urlffmpeg" serializeAs="String">
                <value>https://sourceforge.net/projects/anunnakiproject/files/ffmpeg.exe/download</value>
            </setting>
            <setting name="UrlIssues" serializeAs="String">
                <value>https://github.com/croketworld/CrearShortDesdeVideo/issues</value>
            </setting>
            <setting name="FiltroAdjuntosReporte" serializeAs="String">
                <value>Imágenes y documentos|*.*</value>
            </setting>
            <setting name="FiltroAdjuntos_tituloDialogo" serializeAs="String">
                <value>Adjuntar archivos</value>
            </setting>
            <setting name="TextoIssues" serializeAs="String">
                <value>De momento, puedes reportar errores y añadir sigerencias en github</value>
            </setting>
            <setting name="UrlGitHub" serializeAs="String">
                <value>https://github.com/croketworld/CrearShortDesdeVideo</value>
            </setting>
            <setting name="UrlActualizaciones" serializeAs="String">
                <value />
            </setting>
            <setting name="Texto_iniciandoComando" serializeAs="String">
                <value>Iniciando proceso con comando</value>
            </setting>
            <setting name="Texto_ErrorEjecutandoTarea" serializeAs="String">
                <value>Error ejecutando tarea</value>
            </setting>
            <setting name="Texto_outputFfmpeg" serializeAs="String">
                <value>Output de ffmpeg</value>
            </setting>
            <setting name="Texto_ErrorEjecutandoComandoFfmpeg" serializeAs="String">
                <value>Error al ejecutar el comando ffpmeg.</value>
            </setting>
            <setting name="Texto_DetalleDelError" serializeAs="String">
                <value>Detalles del error</value>
            </setting>
            <setting name="Texto_ComandoEjecutadoEs" serializeAs="String">
                <value>El comando ejecutado es</value>
            </setting>
            <setting name="Btn_CrearVideoCorto" serializeAs="String">
                <value>Crear video corto</value>
            </setting>
            <setting name="Texto_canceladoPorUsuario" serializeAs="String">
                <value>cancelado por el usuario</value>
            </setting>
            <setting name="Texto_resultadoCorrectoONo" serializeAs="String">
                <value>Resultado de la operación correcta? </value>
            </setting>
            <setting name="Btn_cancelar" serializeAs="String">
                <value>Cancelar</value>
            </setting>
            <setting name="Texto_ffmpegDescargado" serializeAs="String">
                <value>ffmpeg descargado correctamente</value>
            </setting>
            <setting name="Texto_IniciandoComprobaciones" serializeAs="String">
                <value>Iniciando comprobaciones previas</value>
            </setting>
            <setting name="Texto_validacionesOK" serializeAs="String">
                <value>Validaciones previas pasadas, iniciando proceso</value>
            </setting>
            <setting name="Texto_Duracion" serializeAs="String">
                <value>Duración</value>
            </setting>
            <setting name="Texto_Segundos" serializeAs="String">
                <value>segundos</value>
            </setting>
            <setting name="Texto_DescargandoFffmpeg" serializeAs="String">
                <value>Descargando ffmpeg..</value>
            </setting>
            <setting name="Texto_ffmpeg_exe" serializeAs="String">
                <value>ffmpeg.exe</value>
            </setting>
            <setting name="Rutas_ffmpeg" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>\ffmpeg.exe</string>
                        <string>\ffmpeg\ffmpeg.exe</string>
                        <string>\ffmpeg\bin\ffmpeg.exe</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Texto_EnbuscaDe" serializeAs="String">
                <value>En busca de </value>
            </setting>
            <setting name="Texto_dialogoSeleccionarVideoOrigenTitulo" serializeAs="String">
                <value>Selecciona el vídeo del que quieres obtener un fragmento</value>
            </setting>
            <setting name="BuscarActualizacionesAlInicio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActualizarAlSalir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PosicionFormulario" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="IniciarMinimizado" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Idioma" serializeAs="String">
                <value>es-ES</value>
            </setting>
        </CrearShortDesdeVideo.My.MySettings>
    </userSettings>
</configuration>
